body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu';
	font-size: 10pt;
}

.card {
	width: 58mm;
	height: 79mm;
	float: left;
	margin: 0px;
	border: 1px solid gray;
	background-color: white;
	text-align: center;
	page-break-inside: avoid;
	display: -webkit-flex;
	-webkit-flex-direction: column;

	/* Stupid phantomjs bugfix */
	-webkit-transform: scale(0.75);
	margin-right: -14.5mm;
	margin-bottom: -19.75mm;
}

.card h1,
.card div {
	margin: 0;
	padding: 0;
}

.card h1 {
	padding: 16px 0;
	font-weight: bold;
	font-size: 22pt;
	white-space: pre;
}

.card .img {
	height: 40mm;
	background-position: center center;
	background-repeat: no-repeat;
}

.card .img img {
	padding: 0;
	margin: 0;
}

.card .desc {
	margin: auto 0;
	white-space: pre;
}

.card .when {
	font-size: 9pt;
	font-style: italic;
	text-align: center;
}
